<!-- ********************** footer start *************** -->
<footer class="footersection" id="footerdiv">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div>
                    <h3>Web Corner it sloutions pvt ltd</h3>
                    <p>Get your business in digital world & let the people to know more about you</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div>
                    <h3>Navigation Link</h3>
                    <li><a href="/">Home</a></li>
                    <li><a href="#serviceid">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#newsletterid">About</a></li>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-12">
                <h3>get in touch</h3>
                <div class="footercontact">
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Meral 822133</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> contact@webcorner.in</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> +91-8223892359</li>
                        <li><i class="fa fa-whatsapp" aria-hidden="true"></i> +91-8223892359</li>
                        <li><i class="fa fa-globe" aria-hidden="true"></i> webcorner.in</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-5 text-center copyright">
            <p>Copyright © 2021 Web Corner | Powered by Web Corner</p>
        </div>
        <div class="scrolltop float-right">
            <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
        </div>
    </div>
</footer>
<!-- ********************** footer end *************** -->